ion-row {
  align-items: center !important;
  padding: 0.5em 0 !important;
  overflow: hidden !important;
  flex-wrap: nowrap !important;
}

ion-col {
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

ion-label {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  max-width: 100% !important;
}
